@media (max-width: 490px) {

    .mobile-hide {
        display: none; /* Nasconde i <br> con la classe */
      }

/* General Styles */

body {
    background-color: #ffffff;
    
}

/* Header */
header {
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid var(--Nero-watever, #000);
    background: var(--Bianco-watever, #FFF);
}

header .logo img {
    width: 110px;
}



.menu {
    display: none; /* Nasconde il menu inizialmente */
    flex-direction: column;
    position: absolute;
    top: 50px;
    background-color: #ffffff;
    width: 100%;
    padding-left: 20px;
    transform: translateX(-7%); 
  }

  .menu.active {
    display: flex; /* Mostra il menu al clic sull'hamburger */
    margin-right: 20px;
  }

  header .menu ul {
    list-style: none;           /* Rimuove i punti elenco */
    display: flex;              /* Usa Flexbox per il menu */
        /* Spazio tra le voci del menu */
    margin-right: -50px;
}

  header .menu ul li {
    margin-left: 10px;          /* Spazio tra le voci del menu */
    margin-right: -20px;

}
  .hamburger {
    display: flex; /* Mostra l'hamburger menu */
    
  }

  .hamburger:hover div {
    background-color: gray; /* Cambia in grigio quando passi il mouse sopra */
  }


.finestra {
    position: relative;  /* Imposta il contenitore come riferimento per gli altri elementi */
    width: 100%;
    height: calc(100vh + 10px);       /* Imposta l'altezza del contenitore uguale all'altezza della finestra */
}

/* Text and Images */
.testo2 {
    font-size: 28px;
    line-height: 1.2;
}

.testo {
    margin-top: 80px;
    margin-left: 10px;          /* Spazio tra le voci del menu */
    
        position: absolute;  /* Posiziona il testo in modo assoluto dentro il contenitore */
        top: 20px;           /* Distanza dal bordo superiore */
        left: 20px;          /* Distanza dal bordo sinistro */
        color: rgb(0, 0, 0);        /* Colore del testo */
        font-family: "font watever";
        font-size: 28px;
        line-height: 1.2;
    }

    .scr {
        z-index: -1;         /* Impedisce che il video copra la scritta sopra */
        width: 50%;          /* Rimpicciolisce l'elemento (imposta la larghezza al 50%) */
        height: auto;   }

/* Video Container */
.video-container {
    height: 100vh;
}


.video-background {
    object-fit: cover;
}

/* Overlay Text */
.overlay-text {
    font-size: 24px;
    line-height: 1.2;
}



.scr {
    width: 100%;
}


/* Containers */
.contenitore3 {
    flex-direction: column;
    gap: 10px;
    padding: 0px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 0px;        
}

.contenitore4 {
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);        
}


.contenitore2{
   
    gap: 10px;
    padding: 20px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "font watever";
        font-size: 28px;
}

.contenitore{

    display: flex;                 /* Dispone gli elementi in una riga */
    justify-content: center;       /* Centra il contenitore orizzontalmente */
    align-items: center;           /* Centra verticalmente gli elementi */
    gap: 20px;                     /* Spazio tra gli elementi */
    margin-top: 50px;               /* Distanza dal bordo superiore della pagina */
    
    position: absolute;  /* Posiziona la scritta sopra il video */
    top: 40%;            /* Posiziona la scritta al centro verticalmente */
    left: 50%;           /* Posiziona la scritta al centro orizzontalmente */
    transform: translate(-50%, -50%); /* Centra esattamente la scritta */
    text-align: center;  /* Allinea il testo al centro */
    color: white;        /* Colore del testo */
    font-family: "font watever";
    font-size: 70px;
    line-height: 100%; /* 88px */

    gap: 10px;
    padding: 20px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
font-family: "font watever";
        font-size: 28px;
        width: 100%;

       

        
    }

    .contenitore {
        gap: 7px;                     /* Spazio tra gli elementi */
        margin-top: 20px;               /* Distanza dal bordo superiore della pagina */
    
        position: absolute;  /* Posiziona la scritta sopra il video */
        top: 40%;            /* Posiziona la scritta al centro verticalmente */
        left: 50%;           /* Posiziona la scritta al centro orizzontalmente */
        transform: translate(-50%, -50%); /* Centra esattamente la scritta */
        text-align: center;  /* Allinea il testo al centro */
        color: white;        /* Colore del testo */
        font-family: "font watever";
        font-size: 28px;
        line-height: 100%; /* 88px */
        padding: 2%;
        
    }
    
    .contenitore2 {
        gap: 7px;                     /* Spazio tra gli elementi */
        margin-top: 20px;               /* Distanza dal bordo superiore della pagina */
    
        position: absolute;  /* Posiziona la scritta sopra il video */
        top: 46%;            /* Posiziona la scritta al centro verticalmente */
        left: 50%;           /* Posiziona la scritta al centro orizzontalmente */
        transform: translate(-50%, -50%); /* Centra esattamente la scritta */
        color: white;        /* Colore del testo */
        font-family: "font watever";
        font-size: 28px;
        line-height: 100%; /* 88px */
        padding: 2%;

    }


.image-block img {
    width: 100%;
}

.text-block h1 {
    font-size: 36px;
}

.text-block h2 {
    font-size: 16px;
}

.text-block ul {
    font-size: 12px;
}

/* Gallery */
.gallery {
    flex-direction: column;
    gap: 10px;
}

.gallery-item {
    width: 100%;
    height: auto;
}

/* Specific Elements */
.foto-background, .foto-background2 {
    width: 100%;
    height: 100vh;
}



.icon {
    width: 50%; /* Dimensione desiderata */
    height: auto;
  }

  .icon2 {
    width: 65%; /* Dimensione desiderata */
    height: auto;
  }

  .icon3 {
    width: 30%; /* Dimensione desiderata */
    height: auto;
  }

  .semplice1{ 
    color: #1E1E1E;

    /* H2 Neue Haas [Website] */
    font-family: "font bold";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
    margin-top: 270px;
} 


#lattine {
    position: absolute;  /* Posiziona l'immagine in modo assoluto all'interno del contenitore */
    z-index: -1;         /* Impedisce che l'immagine copra la scritta sopra */
    top: 40%;            /* Posiziona verticalmente al centro */
    left: 50%;           /* Posiziona orizzontalmente al centro */
    transform: translate(-50%, -50%); /* Centra esattamente l'immagine sia verticalmente che orizzontalmente */
    
    width: 70%;          /* Rimpicciolisce l'immagine (imposta la larghezza al 70%) */
    height: auto;        /* Mantiene le proporzioni */
}


.semplice, .semplice2 {
    font-size: 16px;
    line-height: 1.3;
}

.semplicet {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 1.2;
}

.semplicet2 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 1.2;
    margin-left: 10px;
    max-width: 300px;
}

.semplicet21 {
    margin-top: 120px;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 1.2;
    margin-left: 10px;
    max-width: 500px;
    background-color: #ffffff;
    padding-top: 10px;
    padding-right: 50px;
}

.container {
    display: block; /* Rimuove il layout flex */
    max-width: 100%; /* Permette al contenitore di adattarsi alla pagina */
    padding: 80px 20px; /* Margine interno per il contenitore */
    margin: 0 auto; /* Centra il contenitore orizzontalmente */
}

.text-block {
    justify-content: left;
    display: block; /* Assicura che ogni elemento sia su una nuova riga */
    width: 100%;

  }

.image-block1{
    
    justify-content: center;
    position: absolute;  /* Posiziona l'immagine in modo assoluto all'interno del contenitore */
z-index: -1;         /* Impedisce che l'immagine copra la scritta sopra */
top: 44%;            /* Posiziona verticalmente al centro */
left: 50%;           /* Posiziona orizzontalmente al centro */
transform: translate(-50%, -50%); /* Centra esattamente l'immagine sia verticalmente che orizzontalmente */

width: 80%;          /* Rimpicciolisce l'immagine (imposta la larghezza al 70%) */
height: 35%;        /* Mantiene le proporzioni */
}

.testotc {
    margin-top: 80px;
    margin-left: 10px;          /* Spazio tra le voci del menu */
    
        position: absolute;  /* Posiziona il testo in modo assoluto dentro il contenitore */
        top: 20px;           /* Distanza dal bordo superiore */
        left: 20px;          /* Distanza dal bordo sinistro */
        color: rgb(0, 0, 0);        /* Colore del testo */
        font-family: "font watever";
        font-size: 28px;
        line-height: 1.2;
    }


.inline-text {
display: flex; /* Mantiene "Get" e "the" sulla stessa riga */
gap: 5px; /* (Opzionale) Aggiunge spazio tra i paragrafi */
}

.testotc1 {
    margin-top: 8px;
    margin-left: 0px;          /* Spazio tra le voci del menu */
    
        position: absolute;  /* Posiziona il testo in modo assoluto dentro il contenitore */
        top: 20px;           /* Distanza dal bordo superiore */
        left: 0px;          /* Distanza dal bordo sinistro */
        color: rgb(0, 0, 0);        /* Colore del testo */
        font-family: "font watever";
        font-size: 28px;
        line-height: 1.2;
        max-width: 240px;
    }

.testocentro{
    font-family: "font watever";
        font-size: 28px; 
}

.gallery {
    overflow: hidden; /* Nasconde le immagini fuori dalla vista */
    width: 100vw; /* La galleria occupa tutta la larghezza dello schermo */
    height: 450px; /* Altezza della galleria */
    position: relative; /* Posizionamento per layout */
  }
  
  .gallery-inner {
    display: flex; /* Dispone le immagini in orizzontale */
    transition: transform 0.5s ease-in-out; /* Aggiunge una transizione fluida */
    gap: 0px;
  }
  
  .gallery-item {
    min-width: 100vw; /* Ogni immagine occupa l'intera larghezza dello schermo */
    flex-shrink: 0; /* Impedisce che si ridimensionino */
    display: flex;
    justify-content: center; /* Centra il contenuto orizzontalmente */
    align-items: center; /* Centra il contenuto verticalmente */
  }
  
  .gallery-item img {
    width: auto; /* Lascia che l'immagine mantenga la proporzione */
    height: 100%; /* Altezza della galleria */
    display: block;
    border-radius: 20px; /* Arrotonda i bordi */
    width: 350px; /* Larghezza quadrata */
    height: 350px; /* Altezza quadrata */
}
  
/*the case */
.sthecase {
    
    width: 80%;          /* Rimpicciolisce l'elemento (imposta la larghezza al 50%) */
    top: 35%;           }


.testo2 {
    z-index: -1;         /* Impedisce che il video copra la scritta sopra */
margin-top: 12ss0px;
margin-left: 10px;          /* Spazio tra le voci del menu */

    position: absolute;  /* Posiziona il testo in modo assoluto dentro il contenitore */
    top: 20px;           /* Distanza dal bordo superiore */
    left: 20px;          /* Distanza dal bordo sinistro */
    color: rgb(255, 255, 255);        /* Colore del testo */
    font-family: "font watever";
    font-size: 75px;
    line-height: 130%; /* 88px */
}




}