* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}


/* Header */
header {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100px;
    display: flex;              /* Usa Flexbox per disporre gli elementi */
    justify-content: space-between;  /* Aggiungi spazio tra il logo e il menu */
    align-items: center;        /* Allinea gli elementi al centro verticalmente */
    padding: 50px 50px;         /* Padding per l'header */
    border-bottom: 1px solid var(--Nero-watever, #000);
    background: var(--Bianco-watever, #FFF);
}

/* Logo */
header .logo img {
    width: 100%;               /* Imposta la larghezza del logo */
}

/* Menu */
header .menu ul {
    list-style: none;           /* Rimuove i punti elenco */
    display: flex;              /* Usa Flexbox per il menu */
}

header .menu ul li {
    margin-left: 25px;          /* Spazio tra le voci del menu */
}

header .menu ul li a {
    color: white;               /* Colore del testo del menu */
    text-decoration: none;      /* Rimuove la sottolineatura */
    font-size: 16px;            /* Imposta la dimensione del testo */
    padding: 5px 10px;          /* Aggiunge un po' di padding attorno al link */
    transition: background-color 0.3s; /* Effetto di transizione */
}



.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: black; /* Colore nero per le linee */
  border-radius: 10px; /* Angoli arrotondati */
  transition: background-color 0.3s; /* Transizione morbida */

}



@font-face {
    font-family: "font watever";
    src: url("ExposureTrial[-20].otf");
}
.testocentro{
  font-family: "font watever";
      font-size: 28px;
}


.video-container {
    position: relative;  /* Imposta il contenitore come riferimento per gli altri elementi */
    width: 100%;
    height: calc(100vh + 100px);       /* Imposta l'altezza del contenitore uguale all'altezza della finestra */
    overflow: hidden;    /* Impedisce al video di uscire fuori dai bordi */
}

/* Video di sfondo */
.video-background {
    position: absolute;  /* Posiziona il video in modo assoluto all'interno del contenitore */
    top: 0;
    left: 0;
    width: 100%;         /* Fa sì che il video occupi tutta la larghezza */
    height: 100%;        /* Fa sì che il video occupi tutta l'altezza */
    object-fit: cover;   /* Fa sì che il video copra tutto lo spazio senza distorcere */
    z-index: -1;         /* Impedisce che il video copra la scritta sopra */
}

/* Scritta sopra il video */
.overlay-text {
    position: absolute;  /* Posiziona la scritta sopra il video */
    top: 50%;            /* Posiziona la scritta al centro verticalmente */
    left: 50%;           /* Posiziona la scritta al centro orizzontalmente */
    transform: translate(-50%, -50%); /* Centra esattamente la scritta */
    text-align: center;  /* Allinea il testo al centro */
    color: white;        /* Colore del testo */
    font-family: "font watever";
    font-size: 70px;
    line-height: 100%; /* 88px */
}





.finestra {
    position: relative;  /* Imposta il contenitore come riferimento per gli altri elementi */
    width: 100%;
    height: calc(100vh + 100px);       /* Imposta l'altezza del contenitore uguale all'altezza della finestra */
}

.finestrap {
    position: relative;  /* Imposta il contenitore come riferimento per gli altri elementi */
    width: 100%;
    height: calc(100vh - 100px);       /* Imposta l'altezza del contenitore uguale all'altezza della finestra */
    z-index: -1;         /* Impedisce che il video copra la scritta sopra */
}


#lattine {
   
    position: absolute;  /* Posiziona il video in modo assoluto all'interno del contenitore */
    z-index: -1;         /* Impedisce che il video copra la scritta sopra */
    right: 0;  /* Allineamento a destra */
    top: 50%; /* Posiziona verticalmente al centro */
    transform: translateY(-50%);  /* Centra verticalmente l'immagine */


    width: 45%;          /* Rimpicciolisce l'elemento (imposta la larghezza al 50%) */
    height: auto;   
}


.testo {
margin-top: 80px;
margin-left: 50px;          /* Spazio tra le voci del menu */

    position: absolute;  /* Posiziona il testo in modo assoluto dentro il contenitore */
    top: 20px;           /* Distanza dal bordo superiore */
    left: 20px;          /* Distanza dal bordo sinistro */
    color: rgb(0, 0, 0);        /* Colore del testo */
    font-family: "font watever";
    font-size: 75px;
    line-height: 130%; /* 88px */
}

.scr {
    z-index: -1;         /* Impedisce che il video copra la scritta sopra */
    width: 95%;          /* Rimpicciolisce l'elemento (imposta la larghezza al 50%) */
    height: auto;   }



    @font-face {
        font-family: "font bold";
        src: url("NeueHaasDisplayMediu.ttf");
    }


@font-face {
    font-family: "font normal";
    src: url("NeueHaasDisplayRoman.ttf");
}


.semplice{ 
    color: #1E1E1E;

    /* H2 Neue Haas [Website] */
    font-family: "font bold";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
} 

.semplice1{ 
  color: #1E1E1E;

  /* H2 Neue Haas [Website] */
  font-family: "font bold";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
} 

.semplicet{ 
    color: #1E1E1E;

    /* H2 Neue Haas [Website] */
    font-family: "font normal";
    font-size: 24px;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
    display: flex; 
    justify-content: space-between;
} 

.semplicet2{ 
  color: #1E1E1E;

  /* H2 Neue Haas [Website] */
  font-family: "font normal";
  font-size: 24px;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
  display: flex; 
  justify-content: space-between;
} 

.semplicet21{ 
  color: #1E1E1E;

  /* H2 Neue Haas [Website] */
  font-family: "font normal";
  font-size: 24px;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
  display: flex; 
  justify-content: space-between;
} 

.foto-background {
    position: absolute;  /* Posiziona il video in modo assoluto all'interno del contenitore */
    top: 0;
    left: 0;
    width: 100%;         /* Fa sì che il video occupi tutta la larghezza */
    height: 100%;        /* Fa sì che il video occupi tutta l'altezza */
    object-fit: cover;   /* Fa sì che il video copra tutto lo spazio senza distorcere */
    z-index: -1;         /* Impedisce che il video copra la scritta sopra */
}


.contenitore {
    display: flex;                 /* Dispone gli elementi in una riga */
    justify-content: center;       /* Centra il contenitore orizzontalmente */
    align-items: center;           /* Centra verticalmente gli elementi */
    gap: 20px;                     /* Spazio tra gli elementi */
    margin-top: 50px;               /* Distanza dal bordo superiore della pagina */

    position: absolute;  /* Posiziona la scritta sopra il video */
    top: 40%;            /* Posiziona la scritta al centro verticalmente */
    left: 50%;           /* Posiziona la scritta al centro orizzontalmente */
    transform: translate(-50%, -50%); /* Centra esattamente la scritta */
    text-align: center;  /* Allinea il testo al centro */
    color: white;        /* Colore del testo */
    font-family: "font watever";
    font-size: 70px;
    line-height: 100%; /* 88px */
}

.contenitore2 {
    display: flex;                 /* Dispone gli elementi in una riga */
    justify-content: center;       /* Centra il contenitore orizzontalmente */
    align-items: center;           /* Centra verticalmente gli elementi */
    gap: 20px;                     /* Spazio tra gli elementi */
    margin-top: 50px;               /* Distanza dal bordo superiore della pagina */

    position: absolute;  /* Posiziona la scritta sopra il video */
    top: 50%;            /* Posiziona la scritta al centro verticalmente */
    left: 50%;           /* Posiziona la scritta al centro orizzontalmente */
    transform: translate(-50%, -50%); /* Centra esattamente la scritta */
    color: white;        /* Colore del testo */
    font-family: "font watever";
    font-size: 70px;
    line-height: 100%; /* 88px */
}

.contenitore3 {
    display: flex;                 /* Dispone gli elementi in una riga */
    justify-content: center;       /* Centra il contenitore orizzontalmente */
    align-items: center;           /* Centra verticalmente gli elementi */
    gap: 20px;                     /* Spazio tra gli elementi */
    margin-top: 50px;               /* Distanza dal bordo superiore della pagina */

    position: absolute;  /* Posiziona la scritta sopra il video */
    transform: translate(-50%, -50%); /* Centra esattamente la scritta */

    top: 60%;            /* Posiziona la scritta al centro verticalmente */
    left: 50%;           /* Posiziona la scritta al centro orizzontalmente */
    line-height: 100%; /* 88px */
}


.finestrag {
    position: relative;  /* Imposta il contenitore come riferimento per gli altri elementi */
    width: 100%;
    background-color: #E3FF51;
    height: calc(100vh + 100px); 
    
}

.testo2 {
    z-index: -1;         /* Impedisce che il video copra la scritta sopra */
margin-top: 12ss0px;
margin-left: 100px;          /* Spazio tra le voci del menu */

    position: absolute;  /* Posiziona il testo in modo assoluto dentro il contenitore */
    top: 20px;           /* Distanza dal bordo superiore */
    left: 20px;          /* Distanza dal bordo sinistro */
    color: rgb(255, 255, 255);        /* Colore del testo */
    font-family: "font watever";
    font-size: 75px;
    line-height: 130%; /* 88px */
}

.semplice2{ 
    color: #ffffff;

    /* H2 Neue Haas [Website] */
    font-family: "font bold";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
    padding-right: 60px;
} 

.sthecase {
    z-index: -1;         /* Impedisce che il video copra la scritta sopra */
    width: 100%;          /* Rimpicciolisce l'elemento (imposta la larghezza al 50%) */
    height: auto;  
    position: absolute;  /* Posiziona la scritta sopra il video */
    top: 35%;           }


    .foto-background2 {
        position: absolute;  /* Posiziona il video in modo assoluto all'interno del contenitore */
        top: 0;
        left: 0;
        width: 50%;         /* Fa sì che il video occupi tutta la larghezza */
        height: 50%;        /* Fa sì che il video occupi tutta l'altezza */
        object-fit: cover;   /* Fa sì che il video copra tutto lo spazio senza distorcere */
        z-index: -1;         /* Impedisce che il video copra la scritta sopra */
    }

    .container {
        display: flex;
        justify-content: center; /* Centra orizzontalmente */
        align-items: center;    /* Centra verticalmente */
        height: 100vh;
        width: 100vw;
      }
      

      .imgc {
        position: absolute;
  max-width: calc(100% - 50px);
  max-height: calc(100% - 50px);
  transform: translateY(-50px); /* Sposta l'immagine verso l'alto di 20px */
      }



.contenitore4 {
        display: flex;                 /* Dispone gli elementi in una riga */
        justify-content: center;       /* Centra il contenitore orizzontalmente */
        align-items: center;           /* Centra verticalmente gli elementi */
        gap: 20px;                     /* Spazio tra gli elementi */
        margin-top: 50px;               /* Distanza dal bordo superiore della pagina */
    
        position: absolute;  /* Posiziona la scritta sopra il video */
        transform: translate(-50%, -50%); /* Centra esattamente la scritta */
    
        top: 80%;            /* Posiziona la scritta al centro verticalmente */
        left: 50%;           /* Posiziona la scritta al centro orizzontalmente */
        line-height: 100%; /* 88px */
    }






/* Contenitore principale */
.container {
    display: flex;
  gap: 60px; /* Spazio tra i due blocchi */
  max-width: auto; /* Larghezza massima del contenitore */
  padding: 100px;
  align-items: center; /* Centra i blocchi interni verticalmente */
  justify-content: center; /* Centra orizzontalmente */

  position: absolute; /* Posizionamento assoluto rispetto alla finestra */
  top: 50%; /* Posiziona il contenitore a metà verticale */
  left: 50%; /* Posiziona il contenitore a metà orizzontale */
  transform: translate(-50%, -50%); /* Centra il contenitore esattamente */
  margin: 0 auto; /* Centra orizzontalmente */
  }
  

  /* Blocco immagine */
  .image-block {
    z-index: -1;         /* Impedisce che il video copra la scritta sopra */
    flex: 1; /* Occupa metà dello spazio disponibile */
    justify-content: center;
    height: 100%;

  }
  
  .image-block1 {
    z-index: -1;         /* Impedisce che il video copra la scritta sopra */
    flex: 1; /* Occupa metà dello spazio disponibile */
    justify-content: center;
    height: 100%;
  }

  .image-block img {
    width: 100%;
    height: 100%;
    z-index: -1;         /* Impedisce che il video copra la scritta sopra */
    object-fit: cover; /* L'immagine si adatta senza deformarsi */
    justify-content: center;

  }
  
  .image-block1 img {
    width: 100%;
    height: 100%;
    z-index: -1;         /* Impedisce che il video copra la scritta sopra */
    object-fit: cover; /* L'immagine si adatta senza deformarsi */
    justify-content: center;

  }
  /* Blocco testo */
  .text-block {
    flex: 1; /* Occupa metà dello spazio disponibile */
    justify-content: center;
    display: block; /* Assicura che ogni elemento sia su una nuova riga */
    width: 100%;

  }
  
  .text-block h1 {
    z-index: -1;         /* Impedisce che il video copra la scritta sopra */
    font-family: "font bold";
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 200px;
    justify-content: center;

  }
  
  .text-block h2 {
    font-family: "font bold";
   

    z-index: -1;         /* Impedisce che il video copra la scritta sopra */
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    justify-content: center;
  }
  
  .text-block ul {
    z-index: -1;         /* Impedisce che il video copra la scritta sopra */
    font-family: "font normal";
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .text-block li {
    z-index: -1;         /* Impedisce che il video copra la scritta sopra */
    display: block;
    font-size: 1rem;
    justify-content: space-between;
    align-items: flex-start; /* Allinea i contenuti in alto */
    border-bottom: 1px solid #ddd; /* Linea di separazione */
    padding: 10px 0;
  }
  
  .text-block li span {
    z-index: -1;         /* Impedisce che il video copra la scritta sopra */

    font-size: 1.2rem;
    font-weight: bold;
  }




  .gallery {
    max-width: auto; /* Larghezza massima del contenitore */
    display: flex;
    justify-content: center; /* Centra orizzontalmente le immagini */
    gap: 68px; /* Spaziatura tra le immagini */
    padding: 20px; /* Spaziatura interna */
    height: calc(100vh + 100px); 
    align-items: center; /* Centra verticalmente le immagini */
    transform: translateY(150px); /* Sposta l'immagine verso l'alto di 20px */
  }
  
  /* Stili per ogni immagine */
  .gallery-item {
    width: 381px; /* Dimensione quadrata */
    height: 381px; /* Dimensione quadrata */
    border-radius: 20px; /* Bordo arrotondato */
    overflow: hidden; /* Nasconde i contenuti oltre i bordi */
  
  }
  
  .gallery-item img {
    width: 100%; /* L'immagine riempie il contenitore */
    height: auto; /* Mantiene le proporzioni */
    display: block; /* Elimina gli spazi indesiderati */
  }

  .testotc {
        gap: 0px;                     /* Spazio tra gli elementi */

    margin-top: 80px;
    position: absolute;  /* Posiziona il testo in modo assoluto dentro il contenitore */
    top: 20px;           /* Distanza dal bordo superiore */
    color: rgb(0, 0, 0);        /* Colore del testo */
    font-family: "font watever";
    font-size: 75px;
    line-height: 130%; /* 88px */
    display: flex;                 /* Dispone gli elementi in una riga */
    flex-direction: column; /* Fa sì che i figli principali siano impilati */
}


.testotc1 {
  gap: 0px;                     /* Spazio tra gli elementi */

margin-top: 57px;
position: absolute;  /* Posiziona il testo in modo assoluto dentro il contenitore */
top: 20px;           /* Distanza dal bordo superiore */
color: rgb(0, 0, 0);        /* Colore del testo */
font-family: "font watever";
font-size: 75px;
line-height: 130%; /* 88px */
display: flex;                 /* Dispone gli elementi in una riga */
flex-direction: column; /* Fa sì che i figli principali siano impilati */
}


.inline-text {
    display: flex; /* Mantiene "Get" e "the" sulla stessa riga */
    gap: 20px; /* (Opzionale) Aggiunge spazio tra i paragrafi */
}

/* Scritta sopra il video */
.overlay-texta {
    position: absolute;  /* Posiziona la scritta sopra il video */
    top: 50%;            /* Posiziona la scritta al centro verticalmente */
    left: 50%;           /* Posiziona la scritta al centro orizzontalmente */
    transform: translate(-50%, -50%); /* Centra esattamente la scritta */
    text-align: center;  /* Allinea il testo al centro */
    color: rgb(0, 0, 0);        /* Colore del testo */
    font-family: "font watever";
    font-size: 70px;
    line-height: 120%; /* 88px */
    white-space: nowrap;
}
.overlay-texta2 {
    font-family: "font normal";
    font-size: 24px;

}


.contenitorea {
    display: flex;                 /* Dispone gli elementi in una riga */
    justify-content: center;       /* Centra il contenitore orizzontalmente */
    align-items: center;           /* Centra verticalmente gli elementi */
    gap: 20px;                     /* Spazio tra gli elementi */
    margin-top: 50px;               /* Distanza dal bordo superiore della pagina */

    position: absolute;  /* Posiziona la scritta sopra il video */
    transform: translate(-50%, -50%); /* Centra esattamente la scritta */

    top: 70%;            /* Posiziona la scritta al centro verticalmente */
    left: 50%;           /* Posiziona la scritta al centro orizzontalmente */
    line-height: 100%; /* 88px */
}

  


footer img {
    width: 100%; /* Adatta l'immagine alla larghezza della pagina */
    height: auto; /* Mantiene le proporzioni */
    display: block; /* Elimina gli spazi vuoti sotto l'immagine */
    margin: 0 auto; /* Centra l'immagine se è più piccola */
}

.svg-hover img {

    transition: opacity 0.3s ease;
  }

  .svg-hover img:hover {
    content: url("discover.svg"); /* Cambia l'immagine */
   

  }


  .svg-hover2 img {
    transition: opacity 0.3s ease;
    
  }

  .svg-hover2 img:hover {
    content: url("discover2.svg"); /* Cambia l'immagine */
  }


  .svg-hoverr1 img {
    transition: opacity 0.3s ease;
  }

  .svg-hoverr1 img:hover {
    content: url("tcr1h.svg"); /* Cambia l'immagine */
  }


  .svg-hoverr2 img {
    transition: opacity 0.3s ease;
  }

  .svg-hoverr2 img:hover {
    content: url("tcr2h.svg"); /* Cambia l'immagine */
  }

  .svg-hoverr3 img {
    transition: opacity 0.3s ease;
  }

  .svg-hoverr3 img:hover {
    content: url("tcr3h.svg"); /* Cambia l'immagine */
  }





  .svg-hoverh1 img {
    transition: opacity 0.3s ease;
  }

  .svg-hoverh1 img:hover {
    content: url("h1h.svg"); /* Cambia l'immagine */
  }


  .svg-hoverh2 img {
    transition: opacity 0.3s ease;
  }

  .svg-hoverh2 img:hover {
    content: url("h2h.svg"); /* Cambia l'immagine */
  }

  .svg-hoverh3 img {
    transition: opacity 0.3s ease;
  }

  .svg-hoverh3 img:hover {
    content: url("h3h.svg"); /* Cambia l'immagine */
  }

  /* Bottone toggle */
.toggle-button {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  background: none;
  border: none;
  color: #000;
  margin-left: 10px;
}

/* Testo nascosto inizialmente */
.hidden-text {
  display: none; /* Nascosto di default */
  margin-top: 10px;
  font-size: 16px;
  color: #555;
font-family: "font normal";
  
}

/* Testo visibile */
.visible {
  display: block;
  
}
  
.wateverpiccolo {
  width: 50%;
  
}

/*
* {
  outline: 1px solid red; /* Aggiunge un contorno a ogni elemento */

