/* Stile per il bottone + */
.toggle-button {
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  background: none;
  border: none;
  color: #000;
  margin-left: 10px;
}

/* Stile per il contenitore del testo nascosto */
.hidden-text {
  display: none; /* Testo nascosto di default */
  margin-top: 10px;
  font-size: 16px;
  color: #555;
}

/* Stile per il testo visibile */
.visible {
  display: block;
}